.cart-product-list
  .product
    .form
      display flex
      input
        max-width 100px
        border-color #000
        border-radius 0
        box-shadow none
        text-align center
      button
        background #000
        color #fff
        border-color #000
        border-radius 0
    .order
      button
        margin-left 10px
        background #000
        color #fff
        border-color #000
        border-radius 0