.slider-top
  .carousel-status
    display none

  .carousel
    .slide
      max-height 350px
      .legend
        border-radius 0
        opacity 1
        font-size 14px
@media screen and (max-width: 767px)
  .slider-top
    .carousel
      .slide
        max-height 200px