.has18-confirm-modal
  position fixed
  top 0
  bottom 0
  left 0
  right 0
  display flex
  border 2px solid #fff
  .content
    padding 15px
    color #fff
    background #000
    margin auto

    p
      font-size 2rem
      text-align center
    .actions
      display flex
      justify-content space-around
      button
        background transparent
        border-color #fff
        color #fff
        font-size 2rem
        padding 5px 15px

@media screen and (max-width: 767px)
  .has18-confirm-modal
    .actions
      flex-wrap wrap
      button
        width 100%
        margin 10px
