@font-face {
  font-family: CooperBlack;
  src: url("../assets/fonts/CooperBlackRegular.ttf"); /* Путь к файлу со шрифтом */
}
*
  font-size 14px

@media screen and (max-width: 767px)
  main
    &.container
      padding-right 5px
      padding-left 5px