footer
  min-height 170px
  background-color #000
  color #fff
  a
    color #fff
    &:hover
      color #fff
  .logo
    min-height 150px
    display flex
    >a
      display block
      text-decoration none
      margin auto 0
      h1
        font-family CooperBlack
        font-weight bold
        margin-bottom 0
        font-size 5rem
  .info
    min-height 150px
    display flex
    >div
      margin auto
    .phone
      a
        font-size 2rem
    .cart
      a
        font-size 1.5rem
        i, svg
          margin-right 10px
@media screen and (max-width: 767px)
  footer
    .logo
      h1, h2
        text-align center

    .info
      text-align center
